html {
    direction: rtl !important;
}
#page {
    text-align: right !important;
}
.float-xs-left {
    float: right !important;
}
.float-xs-right {
    float: left !important;
}
/*------Start  Homeslider ----------*/

.owl-wrapper-outer,
.bx-viewport,
#homepage-slider .homeslider-description {
    direction: ltr!important;
}
/*------End  Homeslider ----------*/

.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11 {
    float: right;
}
#_desktop_contact_link .material-icons {
	margin-right:10px;
}
#_desktop_contact_link {
  float: none;
  padding: 10px 15px 10px 0;
  width: auto;
}
#header .ttuserheading {
  background: rgba(0, 0, 0, 0) url("../img/sprite.png") no-repeat scroll -5px -276px;
  cursor: pointer;
  float: left;
  height: 42px;
  margin: 0;
  width: 42px;
}
#header .ttuserheading:hover {
  background: rgba(0, 0, 0, 0) url("../img/sprite.png") no-repeat scroll -65px -276px;
}
.top-menu {
  padding: 0;
}
/*--- Start language and currency ----*/

#_desktop_language_selector,
#_desktop_currency_selector {
    float: right;
}
#header .header-nav .language-selector {
  border-left: 1px solid #e5e5e5;
  border-right: medium none;
}
.dropdown-menu {
    float: right;
    right: 0;
    left: auto;
    text-align: right;
}
#header .header-nav .material-icons.expand-more,
#header .header-nav .material-icons.expand-less {
    margin-right: -2px;
    margin-left: 0;
}
/*---End language and currency ----*/
/*--------Start Top Menu------------*/

.top-menu .sub-menu ul[data-depth="1"] > li {
    float: right;
    text-align: right;
}
#header .header-nav .user-info a i {
    float: right;
}
#header .header-nav .user-info {
    left: 0;
    right: auto;
}
@media (max-width: 991px)
{
	#header .header-nav .user-info {
	  left: 0;
	  right: auto;
	  text-align: right;
	}
}
@media (max-width: 767px) {
    #header .header-nav #menu-icon {
        float: right !important;
        margin: 0 15px 0 0;
    }
    #header .header-nav #_mobile_cart {
        float: left !important;
        margin-left: 15px;
        margin-right: 0;
    }
    #header .header-nav #_mobile_user_info {
        float: left !important;
    }
    #header .header-top a[data-depth="0"] {
        text-align: right;
    }
    #mobile_top_menu_wrapper #top-menu .dropdown-item .floatl-xs-right {
        float: left !important;
    }
    #mobile_top_menu_wrapper .top-menu .sub-menu ul[data-depth="2"] li a {
        padding-left: 0;
        padding-right: 1.25rem;
    }
    #header .header-nav .user-info {
        text-align: right;
    }
	#header .header-nav .user-info {
	  left: 10px;
	  right: auto;
	  text-align: right;
	}
}
@media (max-width: 543px) {
    #header .header-nav .user-info {
        margin-left: 5px;
    }
	#header .header-nav .user-info {
	  left: 0;
	  right: auto;
	  text-align: right;
	}
	#footer #newslatter .ttinput_newsletter {
	  width: 100%;
	}
}
/*------Start Search_widget-----*/

#search_widget .search_block_top_form > button {
    left: 0;
    right: auto;
}
.search-widget .ttsearch_button {
    float:right;
	right:auto;
}
@media (max-width: 991px) {
	.search-widget .ttsearch_button {
	  float: left;
	  right: auto;
	  top:-3px;
	}
}
#search_widget.active .ttsearch_button {
    left: 0;
    right: auto;
}
@media (max-width: 1199px) {
    #search_widget form input {
        float: left;
    }
    .search-widget form {
        float: left;
    }
}
@media (max-width: 767px) {
    .header-nav .top-nav .right-nav .search-widget {
        left: 100px;
        right: auto;
    }
}
/*------End Search_widget-----*/
/*--------End Top Menu------------*/
/*-------Start TT Homeslider-----*/

.carousel-inner {
    padding: 0;
}
.carousel .carousel-item.odd .caption-description {
  left: 0;
  right: -20%;
  top: 21%;
}
@media (max-width: 767px){
.carousel .carousel-item.odd .caption-description {
  left: 0;
  right: -19%;
  top: 10%;
}
}
/*-------End TT Homeslider-----*/
/*--------Start HometabContent--------------*/

#products .thumbnail-container,
.products .thumbnail-container,
.featured-products .thumbnail-container,
.product-accessories .thumbnail-container,
.ttfeatured-products .thumbnail-container,
.crossselling-product .thumbnail-container,
.ttbestseller-products .thumbnail-container,
.ttnew-products .thumbnail-container,
.ttspecial-products .thumbnail-container,
.category-products .thumbnail-container,
.view-product .thumbnail-container {
    float: right;
}
.ttnew-products .ttnew-content .newli > ul,
.ttfeatured-products .ttfeatured-content .featureli > ul {
    padding-right: 0;
}
#products .product-miniature .product-flags .new,
#products .product-miniature .online-only,
#products .product-miniature .on-sale,
#products .product-miniature .discount-percentage,
.products .product-miniature .product-flags .new,
.products .product-miniature .online-only,
.products .product-miniature .on-sale,
.products .product-miniature .discount-percentage,
.featured-products .product-miniature .product-flags .new,
.featured-products .product-miniature .online-only,
.featured-products .product-miniature .on-sale,
.featured-products .product-miniature .discount-percentage,
.product-accessories .product-miniature .product-flags .new,
.product-accessories .product-miniature .online-only,
.product-accessories .product-miniature .on-sale,
.product-accessories .product-miniature .discount-percentage,
.ttfeatured-products .product-miniature .product-flags .new,
.ttfeatured-products .product-miniature .online-only,
.ttfeatured-products .product-miniature .on-sale,
.ttfeatured-products .product-miniature .discount-percentage,
.view-product .product-miniature .product-flags .new,
.view-product .product-miniature .online-only,
.view-product .product-miniature .on-sale,
.view-product .product-miniature .discount-percentage,
.crossselling-product .product-miniature .product-flags .new,
.crossselling-product .product-miniature .online-only,
.crossselling-product .product-miniature .on-sale,
.crossselling-product .product-miniature .discount-percentage,
.category-products .product-miniature .product-flags .new,
.category-products .product-miniature .online-only,
.category-products .product-miniature .on-sale,
.category-products .product-miniature .discount-percentage,
.ttbestseller-products .product-miniature .product-flags .new,
.ttbestseller-products .product-miniature .online-only,
.ttbestseller-products .product-miniature .on-sale,
.ttbestseller-products .product-miniature .discount-percentage,
.ttnew-products .product-miniature .product-flags .new,
.ttnew-products .product-miniature .online-only,
.ttnew-products .product-miniature .on-sale,
.ttnew-products .product-miniature .discount-percentage,
.ttbestseller-products .product-miniature .product-flags .new,
.ttbestseller-products .product-miniature .online-only,
.ttbestseller-products .product-miniature .on-sale,
.ttbestseller-products .product-miniature .discount-percentage,
.ttnew-products .product-miniature .product-flags .new,
.ttnew-products .product-miniature .online-only,
.ttnew-products .product-miniature .on-sale,
.ttnew-products .product-miniature .discount-percentage,
.ttspecial-products .product-miniature .product-flags .new,
.ttspecial-products .product-miniature .online-only,
.ttspecial-products .product-miniature .on-sale,
.ttspecial-products .product-miniature .discount-percentage,
.ttspecial-products .product-miniature .product-flags .new,
.ttspecial-products .product-miniature .online-only,
.ttspecial-products .product-miniature .on-sale,
.ttspecial-products .product-miniature .discount-percentage {
    right: 15px;
    left: auto;
}
#products .product-miniature .product-flags .new.on-sale,
#products .product-miniature .online-only.on-sale,
#products .product-miniature .on-sale.on-sale,
#products .product-miniature .discount-percentage.on-sale,
.products .product-miniature .product-flags .new.on-sale,
.products .product-miniature .online-only.on-sale,
.products .product-miniature .on-sale.on-sale,
.products .product-miniature .discount-percentage.on-sale,
.featured-products .product-miniature .product-flags .new.on-sale,
.featured-products .product-miniature .online-only.on-sale,
.featured-products .product-miniature .on-sale.on-sale,
.featured-products .product-miniature .discount-percentage.on-sale,
.view-product .product-miniature .product-flags .new.on-sale,
.view-product .product-miniature .online-only.on-sale,
.view-product .product-miniature .on-sale.on-sale,
.view-product .product-miniature .discount-percentage.on-sale,
.crossselling-product .product-miniature .product-flags .new.on-sale,
.crossselling-product .product-miniature .online-only.on-sale,
.crossselling-product .product-miniature .on-sale.on-sale,
.crossselling-product .product-miniature .discount-percentage.on-sale,
.category-products .product-miniature .product-flags .new.on-sale,
.category-products .product-miniature .online-only.on-sale,
.category-products .product-miniature .on-sale.on-sale,
.category-products .product-miniature .discount-percentage.on-sale,
.ttbestseller-products .product-miniature .product-flags .new.on-sale,
.ttbestseller-products .product-miniature .online-only.on-sale,
.ttbestseller-products .product-miniature .on-sale.on-sale,
.ttbestseller-products .product-miniature .discount-percentage.on-sale,
.ttnew-products .product-miniature .product-flags .new.on-sale,
.ttnew-products .product-miniature .online-only.on-sale,
.ttnew-products .product-miniature .on-sale.on-sale,
.ttnew-products .product-miniature .discount-percentage.on-sale,
.ttspecial-products .product-miniature .product-flags .new.on-sale,
.ttspecial-products .product-miniature .online-only.on-sale,
.ttspecial-products .product-miniature .on-sale.on-sale,
.ttspecial-products .product-miniature .discount-percentage.on-sale,
.product-accessories .product-miniature .product-flags .new.on-sale,
.product-accessories .product-miniature .online-only.on-sale,
.product-accessories .product-miniature .on-sale.on-sale,
.product-accessories .product-miniature .discount-percentage.on-sale,
.ttfeatured-products .product-miniature .product-flags .new.on-sale,
.ttfeatured-products .product-miniature .online-only.on-sale,
.ttfeatured-products .product-miniature .on-sale.on-sale,
.ttfeatured-products .product-miniature .discount-percentage.on-sale {
    float: right;
    left: 15px;
    right: auto;
}
.pack {
    right: 15px;
    left: auto;
}
@media (max-width: 991px) {
    .owl-buttons {
        direction: ltr !important
    }
}
/*--------End HometabContent--------------*/
/*-----------Start Special Product----------------*/

.product-accessories,
.crossselling-product,
.category-products,
.ttspecial-products,
.view-product {
    float: right;
}
/*-----------End Special Product---------------------*/
/*------Start Newslatter---------------*/

#newslatter {
    padding:36px 50px;
}
.block_newsletter .tt-title {
    text-align: right;
}
.block_newsletter form .input-wrapper {
    float: right;
	width:77%;
}
#footer .footer-container #newslatter .block_newsletter .tt-content span i {
    right: 0;
    left: auto;
}
#footer .footer-container #newslatter .block_newsletter .tt-content .tt-desc {
    text-align: right;
}
@media (max-width: 991px) {
    #newslatter {
        padding: 30px 10px;
    }
    .block_newsletter .tt-title {
        text-align: center;
    }
    #footer .footer-container #newslatter .block_newsletter .tt-content .tt-desc {
        text-align: center;
    }
}
@media (max-width: 543px) {
    .block_newsletter form input[type="text"] {
        float: right !important;
    }
    .block_newsletter .tt-title::before {
        right: 0;
        left: 0;
    }
    .block_newsletter .tt-title {
        padding: 0;
    }
}
#newslatter .tt-content .material-icons {
  float: right;
}
#newslatter .ttinput_newsletter .material-icons {
  right:auto;
  left:0;
}

/*------End Newslatter---------------*/
/*------Start Footer---------------*/

.block-social {
    padding: 0 30px 0 0;
}
.block-social ul li {
	margin: 0 0 3px 3px;
	float: right;
}
#block_myaccount_infos {
    padding: 0 30px 0 0;
}
.contact-rich {
    padding: 0 30px 0 0;
}
#goToTop {
    left: 32px;
    right: auto;
}
#footer .block-social ul {
  float: none;
  width:auto;
}

.goToTop.ttbox-img {
  left: 32px;
  right: auto;
}
/*-----Start contact-rich links-----*/

.contact-rich .block .icon {
    float: right;
    margin: 0 0 0 10px;
}
/*-----End contact-rich links-----*/

@media (max-width: 991px) {
    .footer-container .links .floatl-xs-right {
        float: left !important;
    }
    .block-social {
        text-align: right;
    }
}
/*------End Footer---------------*/
/*--------------------------Start Category Page--------------------*/

.products-selection .total-products p {
  float: right;
  margin: 0;
}
.facet-label .custom-checkbox > span {
  display: none !important;
}
#left-column {
    padding-right: 0;
    padding-left: 15px;
}
#category #content-wrapper {
    padding-left: 0;
    padding-right: 15px;
}
.block-categories ul {
    padding-right: 0;
}
.block-categories .collapse-icons {
    left: 0;
    right: auto;
}
.block-categories .category-sub-menu .category-sub-menu {
    padding: 0 20px 0 0 !important;
}
#search_filters .facet .collapse {
    padding-right: 0;
}
.products-sort-order .select-title .material-icons {
    float: left !important;
}
.pagination-right {
    float: left;
}
.pagination .next {
    float: left;
}
.pagination .previous {
    float: right;
}
#search_filters .facet .facet-label a {
    text-align: right;
}
.active_filters .active-filter-title {
    margin-left: 0.625rem;
    margin-right: 0;
}
.active_filters .filter-block {
    margin-right: 0;
    margin-left: 0.625rem;
}
.active_filters .filter-block .close {
    margin-left: 0;
    margin-right: 0.3125rem;
}
@media (max-width: 767px) {
    #left-column {
        padding-right: 15px;
        padding-left: 15px;
    }
    #category #content-wrapper {
        padding: 0;
    }
    .pagination .previous {
        margin-left: 10px;
        margin-right: 0;
    }
    .pagination .next {
        margin-left: 0;
        margin-right: 10px;
    }
}
@media (max-width: 543px) {
    #products .thumbnail-container,
    .products .thumbnail-container,
    .featured-products .thumbnail-container,
    .product-accessories .thumbnail-container,
    .ttfeatured-products .thumbnail-container,
    .crossselling-product .thumbnail-container,
    .ttbestseller-products .thumbnail-container,
    .ttnew-products .thumbnail-container,
    .ttspecial-products .thumbnail-container,
    .category-products .thumbnail-container,
    .view-product .thumbnail-container {
        float: none;
    }
    .products-selection .filter-button {
        padding-left: 15px;
        padding-right: 0;
    }
}
/*  pagination */

.pagination .page-list {
    float: right;
}
.pagination-left {
    text-align: right;
}
.pagination .page-list {
    float: left;
}
@media (max-width: 991px) {
	.products-selection .total-products p {
	  float: left;
	  margin: 0;
	}
	#contact-link .material-icons {
	  bottom: 34px;
	  float: none;
	  font-size: 14px;
	  margin: 0 32px;
	  position: absolute;
	  transform: rotate(45deg);
	}
}

/*------------------End Category Page---------------*/
/* -----grid-list------------*/

.grid-list {
    margin-left: 10px;
    margin-right: 0;
}
.grid-list #ttgrid,
.grid-list #ttlist {
    margin: 0 0 0 10px;
    float: right;
}
.product-list .ttproduct-desc .product-description,
.product-list .ttproduct-desc .product-flags,
.product-list .ttproduct-desc .highlighted-informations .variant-links,
.product-list .ttproduct-desc .product-description .product-title,
.product-list .ttproduct-desc .product-description .product-price-and-shipping {
    float: right!important;
    text-align: right!important;
}
.product-list .cat-name {
    text-align: right;
}
#products .product-miniature.product-list .product-flags .new,
#products .product-miniature.product-list .product-flags .pack {
    left: auto;
    right: 30px;
}
#products .product-miniature.product-list .product-flags .on-sale {
    left: 30px;
    right: auto;
}
#products .product-list .thumbnail-container .ttproducthover {
    float: right;
    text-align: right;
}
#products .product-list .thumbnail-container .quick-view-block {
    margin: 0 -5px 0 0;
}
@media (max-width: 767px) {
    .products-selection .total-products p {
        float: left;
    }
    .products-selection .col-md-6 {
        float: right;
    }
}
@media (max-width: 543px) {
    .product-list .ttproduct-desc .product-description,
    .product-list .ttproduct-desc .product-flags,
    .product-list .ttproduct-desc .highlighted-informations .variant-links,
    .product-list .ttproduct-desc .product-description .product-title,
    .product-list .ttproduct-desc .product-description .product-price-and-shipping {
        text-align: center!important;
    }
    .product-list .cat-name {
        text-align: center;
    }
    #products .product-list .thumbnail-container .ttproducthover {
        text-align: center;
    }
}
/* -----END grid-list------------*/
/* ------------Start left column/Right column product css -----------*/

#left-column .products .product-miniature .thumbnail-container .ttproduct-image,
#right-column .products .product-miniature .thumbnail-container .ttproduct-image {
    float: right;
    margin-left: 10px;
    margin-right: 0;
}
#left-column .products .product-miniature .thumbnail-container .ttproduct-desc .product-description,
#right-column .products .product-miniature .thumbnail-container .ttproduct-desc .product-description {
    float: right;
}
#left-column .products .product-miniature .thumbnail-container .ttproduct-desc .product-description .product-title,
#right-column .products .product-miniature .thumbnail-container .ttproduct-desc .product-description .product-title {
    text-align: right;
}
#left-column .products .product-miniature .thumbnail-container .ttproduct-desc .product-description .product-price-and-shipping,
#right-column .products .product-miniature .thumbnail-container .ttproduct-desc .product-description .product-price-and-shipping {
    text-align: right;
}
#left-column .all-product-link,
#right-column .all-product-link,
#left-column .all-product-link i,
#right-column .all-product-link i {
    float: left !important;
    text-align: left !important;
}
/* ------------End left column/Right column product css -----------*/
/*------------------Start Product Page---------------*/

#product .pb-left-column {
    padding-left: 15px;
    padding-right: 0;
}
#product .pb-right-column {
    padding-left: 0;
    padding-right: 15px;
}
.tt-producttitle {
    text-align: right;
}
.has-discount .discount {
    margin-left: 0;
    margin-right: 10px;
}
.product-variants > .product-variants-item ul li {
    margin-left: 0.625rem;
    margin-right: 0;
}
.ttpc-main .time {
    margin-left: 2%;
    margin-right: 0;
}
.product-quantity .qty {
    float: right;
}
.input-group .form-control {
    float: right;
}
.product-quantity .input-group-btn-vertical {
    float: right;
}
.product-quantity .add {
    float: right;
}
#product-availability {
    margin-right: 0.625rem;
    margin-left: 0;
}
.social-sharing li {
    margin-left: 0;
    margin-right: 0.5rem;
}
.tabs .nav-tabs .nav-item {
    float: right;
}
.nav-tabs .nav-item + .nav-item {
    margin-right: 0.2rem;
    margin-left: 0;
}
.btn-primary .material-icons,
.btn-secondary .material-icons,
.btn-tertiary .material-icons {
    margin-left: 0.625rem;
    margin-right: 0;
}
li.product-flag.on-sale {
    left: 15px;
    right: auto;
}
li.product-flag.new {
    right: 15px;
    left: auto;
}
#content .images-container .layer.hidden-sm-down {
    left: 20px;
    right: auto;
}
#block-reassurance img {
    margin-left: 0.625rem;
    margin-right: 0;
}
.product-discount .regular-price {
    margin-left: 0.625rem;
    margin-right: 0;
}
.product-features > dl.data-sheet dd.value,
.product-features > dl.data-sheet dt.name {
    border-left: 1px solid #e9e9e9;
    border-right: none;
}
.product-features > dl.data-sheet dd.value {
    border-left: none;
}
.tabs .nav-tabs .nav-link {
    margin: 0 0 0 30px;
}
#product-modal .modal-content .modal-body .product-images {
    padding: 0 20px 0 5px !important;
}
.product-pack .pack-product-container .pack-product-quantity {
    border-left: medium none;
    border-right: 2px solid #ebebeb;
    padding-left: 0;
    padding-right: 0.625rem;
}
@media (max-width: 767px) {
    #product .pb-left-column {
        padding-left: 0;
    }
    #product .pb-right-column {
        padding-right: 0;
    }
}
/*------------------End Product Page---------------*/
/*------------------Start ADD To Cart Page---------------*/

.close {
    float: left;
}
#blockcart-modal .divide-right {
    border-left: 1px solid #e5e5e5;
    border-right: none;
}
#blockcart-modal .modal-title i.material-icons {
    margin-left: 1.875rem;
    margin-right: 0;
}
#blockcart-modal .cart-content button {
    margin-left: 0.3125rem;
    margin-right: 0;
}
#blockcart-modal .cart-content {
    padding-right: 2.5rem;
    padding-left: 0;
}
/*------------------End ADD To Cart Page---------------*/
/*------------------Start Checkout Page---------------*/

.cart-summary-line .value {
    float: left !important;
}
.contact-form .form-control-label {
    text-align: right;
}
.nav-inline .nav-item + .nav-item,
.nav-inline .nav-link + .nav-link {
    margin-left: 0;
    margin-right: 1rem;
}
.bootstrap-touchspin .input-group-btn-vertical > .btn {
    margin-right: -1px;
    margin-left: 0;
}
#checkout .header-nav #_desktop_logo {
    float: right;
}
body#checkout #header .header-nav .logo {
    float: right;
}
#checkout .header-nav .text-xs-right {
    text-align: left !important;
}
#checkout .header-nav #_desktop_language_selector .dropdown-menu,
#checkout .header-nav #_desktop_currency_selector .dropdown-menu {
    left: 0;
    right: auto;
}
body#checkout section.checkout-step .radio-block {
    text-align: right;
}
body#checkout section.checkout-step .address {
    margin-left: 0;
    margin-right: 1.5625rem;
}
body#checkout section.checkout-step .payment-options .custom-radio {
    margin-left: 1.25rem;
    margin-right: 0;
}
#search_filters_wrapper #search_filters ul li label > span span,
body#checkout .custom-checkbox span,
.custom-checkbox input[type="checkbox"] + span {
    margin-left: 10px;
    margin-right: 0;
}
.done {
    margin-left: 1.5625rem;
    margin-right: 0;
}
#order-items {
    border-left: 1px solid #dedede;
    border-right: none;
}
#order-details {
    padding-right: 1.875rem;
    padding-left: 15px;
}
#order-items table tr td:last-child {
    text-align: left;
}
body#checkout section.checkout-step.-reachable.-complete h1 .done {
    margin-left: 1.5625rem;
    margin-right: 0;
}
body#checkout section.checkout-step.-reachable.-complete h1 .step-edit {
    float: left;
}
body#checkout section.checkout-step #customer-form .form-control-label,
body#checkout section.checkout-step #delivery-address .form-control-label,
body#checkout section.checkout-step #invoice-address .form-control-label,
body#checkout section.checkout-step #login-form .form-control-label {
    text-align: right;
}
body#checkout .condition-label {
    margin-right: 2.5rem;
    margin-left: 0;
}
.form-control-select {
    padding-right: 0.75rem;
    padding-left: 2rem;
}
@media (max-width: 767px) {
    .product-line-grid-right .bootstrap-touchspin {
        float: right !important;
    }
    #checkout #checkout-personal-information-step #customer-form .form-group .col-md-6,
    #checkout #checkout-addresses-step #delivery-address .js-address-form .form-group .col-md-6 {
        float: none;
    }
    #checkout .col-md-4 {
        float: none;
    }
    body#checkout section.checkout-step.-reachable.-complete h1 .step-edit {
        float: none;
    }
}
@media (max-width: 543px) {
    body#checkout #header .header-nav .logo {
        float: none;
    }
    .product-line-grid-left {
        padding-left: 0 !important;
        padding-right: 15px !important;
    }
}
/*------------------End Checkout Page---------------*/
/*------------------Start Footer Inner Link ---------------*/

.tt-innerpagetitle {
    text-align: right;
}
#products .page-not-found .search-widget input,
#pagenotfound .page-not-found .search-widget input {
    border: none;
}
#products .page-not-found .search-widget button,
#pagenotfound .page-not-found .search-widget button {
    left: 0.125rem;
    right: auto;
}
.form-control-select {
    background: #ebebeb url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAQAAAD9CzEMAAAAPklEQVR4Ae3TwREAEBQD0V/6do4SXPZg7EsBhsQ8IEmSMOsiuEfg3gL3oXC7wK0bd1G4o8X9F4yIkyQfSrIByQBjp7QuND8AAAAASUVORK5CYII=") no-repeat scroll left 0.5rem center / 1.25rem 1.25rem;
}
.page-subheading {
    text-align: right;
}
#contact .contact-form .form-group .form-control-select {
    padding-left: 2rem;
    padding-right: 0.75rem;
}
.text-xs-right {
    text-align: left !important;
}
.custom-checkbox label {
    text-align: right;
}
@media (max-width: 543px) {
    #sitemap .tree li ul {
        margin: 0 30px 0 0;
        padding-right: 0 !important;
    }
}
#stores .page-stores .store-item-container .divide-left {
    border-left: none;
    border-right: 1px solid #ebebeb;
}
#authentication .custom-checkbox label {
    padding-left: 0;
    padding-right: 0.625rem;
}
#identity .custom-checkbox span,
#authentication .custom-checkbox span {
    margin-left: 3px;
    margin-right: 0;
}
@media (max-width: 767px) {
    #authentication .login-form .form-group .col-md-6,
    #contact .contact-form .form-group .col-md-6,
    #contact .contact-form .form-group .col-md-9,
    #identity #customer-form .form-group .col-md-6,
    #address .address-form .form-group .col-md-6 {
        float: none;
    }
}
.page-footer .account-link {
    margin-left: 1rem;
    margin-right: 0;
}
.page-my-account #content .links a span.link-item {
    text-align: right;
}
.page-my-account #content .links a i {
    float: right;
    margin: 0 0 0 10px;
}
/*------------------End Footer Inner Link ---------------*/
/*------------------Start Quick View Page---------------*/

.quickview .images-container {
    float: right;
}
.product-cover {
    float: right;
}
.quickview-title.tt-title {
    text-align: right;
}
.quickview .mask {
    padding: 0 20px 0 0;
}
.quickview .arrows {
    left: 50px;
    right: auto;
}
@media (max-width: 1199px) {
    .quickview .arrows {
        left: 64px;
        right: auto;
    }
}
@media (max-width: 991px) {
    .quickview .arrows {
        left: 70px;
        right: auto;
    }
}
@media (max-width: 767px) {
    .quickview .arrows {
        left: 50px;
        right: auto;
    }
}
/*------------------End Quick View Page---------------*/
/* ------start search rtl css--------*/

.ui-menu .ui-menu-item .product-img {
    float: right;
}
.ui-front.ui-menu .ui-menu-item a {
    padding: 2px 8px 2px 0 !important;
    float: right;
}
/* ------End search rtl css--------*/
/*------------------Start TT -CMS Right Banner Css---------------*/

#ttcmsrightbanners .ttrightbanner .ttrightbanner-desc {
    padding: 7% 7% 5% 3% !important;
}
#ttcmsrightbanners .ttrightbanner > div.col-sm-6 .rightbanner-title::before {
    right: 0;
    left: auto;
}
#ttcmsrightbanners .ttrightbanner > div.col-sm-6 .rightbanner-btn {
    text-align: right;
}
@media (max-width: 543px) {
    #ttcmsrightbanners .ttrightbanner .ttrightbanner-desc {
        padding: 10px !important;
    }
}
/*------------------End TT -CMS Right Banner Css---------------*/
/*------------------Start TT -CMS Parallax Css---------------*/

#ttcmsparallax .parallex .ttcmsparallex-content .ttcmsparallex-inner #ttcmsparallex-carousel li .cmsparallex-image {
    text-align: left;
}
/*------------------End TT -CMS Parallax Css---------------*/
/*------------------Start TT -CMS Service Css---------------*/

#ttcmsservices .ttcmsservice > div.col-sm-3 .ttcontent_inner {
    text-align: right;
}
#ttcmsservices .ttcmsservice > div.col-sm-3 .ttcontent_inner .service .service-icon {
    float: right;
    text-align: right;
}
#ttcmsservices .ttcmsservice > div.col-sm-3 .ttcontent_inner .service .service-content {
    float: right;
    text-align: right;
    margin: 0 10px 0 0;
}
@media (max-width: 767px) {
    #ttcmsservices .ttcmsservice > div.col-sm-3 .ttcontent_inner .service .service-icon {
        float: none;
        text-align: center;
    }
    #ttcmsservices .ttcmsservice > div.col-sm-3 .ttcontent_inner .service .service-content {
        text-align: center;
    }
}
/*------------------End TT -CMS Service Css---------------*/
/*------------------Start TT -CMS Footer Css---------------*/

#ttcmsfooter {
    float: right;
}
#ttcmsfooter .title_block {
    text-align: right;
}
#ttcmsfooter .catalog-inner .customNavigation {    
	left: 12px;
    right: auto;
}
#ttcmsfooter .catalog-inner #ttcatalog-carousel .catalog-img {
    text-align: left;
}
#ttcmsfooter .catalog-inner #ttcatalog-carousel .catalog-content {
    padding: 0 20px 0 0;
    text-align: right;
}
#ttcmsfooter .catalog-inner #ttcatalog-carousel .catalog-content .catalog-download a {
    padding: 0 8px 0 0;
}
#ttcmsfooter .catalog-inner #ttcatalog-carousel .catalog-content .catalog-download a::before {
    float: right;
}
#ttcmsfooter .catalog-inner #ttcatalog-carousel .catalog-content .explore-catalog a {
    padding: 0 8px 0 0;
}
#ttcmsfooter .catalog-inner #ttcatalog-carousel .catalog-content .explore-catalog a::before {
    float: right;
}
@media (max-width: 543px) {
    #ttcmsfooter .catalog-inner #ttcatalog-carousel .catalog-content {
        padding: 0;
    }
	#ttcmsfooter .catalog-inner #ttcatalog-carousel .catalog-img {
		float: left;
	}
}
/*------------------End TT -CMS Footer Css---------------*/
/*------------------Start ttspecial Product Css---------------*/

#content .ttspecial-products .thumbnail-container .ttproduct-image {
    float: right;
}
#content .ttspecial-products .thumbnail-container .product-description {
    text-align: right;
}
#content .ttspecial-products .thumbnail-container .tt-button-container .button.ajax_add_to_cart_button.add-to-cart.btn-default {
    float: right;
    text-align: right;
}
#content .ttspecial-products .thumbnail-container .quick-view-block {
    right: 70px;
    left: auto;
}
@media (max-width: 543px) {
	#content .ttspecial-products .thumbnail-container .quick-view-block {
		right: 50px;
		left: auto;
	}
}
/*------------------End ttspecial Product Css---------------*/

/*------------------Start Footer Linklist Css---------------*/

.bottom-footer .link-list ul li:first-child {
    border: medium none;
	padding-left: 10px;
}
.bottom-footer .link-list ul li:last-child {
    border-right: 1px solid #777777;
}
@media (max-width: 991px) {
	.search-widget {
	  float: left;
	  left: 88px;
	  right: auto;
	}
	.bottom-footer .links.link-list span.h3 {
		text-align: right;
	}
	.bottom-footer .links .floatl-xs-right {
		left: 10px;
		right: auto;
	}
	.bottom-footer .link-list ul li {
		text-align: right;
	}
	.bottom-footer .link-list ul li:last-child {
		border-right: none;
	}
	#_desktop_logo, #_mobile_logo {
	  left:0;
	  right:0;
	}
	#header .ttuserheading {
	  background: rgba(0, 0, 0, 0) url("../img/sprite.png") no-repeat scroll -5px -280px;
	  cursor: pointer;
	  float: left;
	  height: 32px;
	  margin: 0;
	  width: 35px;
	}
	#header .ttuserheading:hover {
	  background: rgba(0, 0, 0, 0) url("../img/sprite.png") no-repeat scroll -65px -280px;
	}
	#mobile_top_menu_wrapper #top-menu li a {
	  text-align: right;
	}
	.block-social .title.clearfix.hidden-md-up {
  margin: 0;
  text-align: right;
}
.footer-container .links .hidden-md-up {
  display: block !important;
  text-align: right;
}
#footer .block-social {
  display: inline-block;
  float: none;
  vertical-align: top;
  width: 100%;
  text-align: right;
}
}

@media (max-width: 767px) {
	#_desktop_logo, #_mobile_logo {
	  left:0;
	  right:0;
	}
}
#ttcmsgallery .ttgallary_content .ttcontent .heading{
	text-align:right;
}
#ttcmsgallery .ttgallary_content .ttcontent .subheading::after{
	right:0;
}
#ttcmsgallery .ttgallary_content .ttcontent .subheading{
	text-align:right;
}
#ttcmsgallery .ttgallary_content .ttcontent .description{
	text-align:right;
}
#ttcmsgallery .customNavigation{
	float:right;
	width:auto;
}
.goToTop {
  left: 35px;
  right: auto;
}
@media (max-width: 767px) {
	#ttcmsgallery .ttgallary_content .ttcontent .heading{
		text-align:center;
	}
	#ttcmsgallery .ttgallary_content .ttcontent .subheading{
		text-align:center;
	}
	#ttcmsgallery .ttgallary_content .ttcontent .description{
		text-align:center;
	}
	#ttcmsgallery .customNavigation{
		float:none;
		width:auto;
	}
}
#checkout .header-nav #_desktop_language_selector, #checkout .header-nav #_desktop_currency_selector{
	float:left;
}
#checkout #_desktop_contact_link {
  float:left;
}
#wrapper .breadcrumb ol{
	float:left;
}
.col-md-6 .row {
  margin: 0;
}
#content .ttspecial-products .thumbnail-container .ttproducthover .add-to-cart-disable {
  float: right;
  width: auto;
}

/*------------------End Footer Linklist Css---------------*/
