@media print{ 
	.noprint{ 
		display: none; 
	} 
}
.ncx_minibutton{
border: 1px solid #808080;
    border-radius: 3px;
    color: #808080;
    cursor: pointer;
    font-size: 11px;
    margin: 3px;
    padding: 5px;
}
.ncx_minibutton:hover{
    background-color: #FD8921;
    color: black;
}
#ncx_info_exp{
	margin-bottom:10px;
	width:416px;
	padding:0 5px 15px;
	border:1px solid black;
	background-color:grey;
	text-shadow:1px 1px 1px white;	
	border-radius: 20px;
	text-align: left;
}

#ncx_info_exp input[type="radio"], #ncx_info_exp input[type="checkbox"] {
    	margin-left: 10px;
}

.ncx_box{
	background: url("../../nacex/img/nacex_box.png") grey no-repeat right 3px !important;
}
#ncx_info_exp hr, #ncx_info_shop hr {
	box-shadow: 1px 1px 2px white;    
}
#ncx_info_exp hr{
    	background-color: grey;	
}
#ncx_info_shop hr{
	background-color: #bbbbbb;	
}
#ncx_info_exp img, #ncx_info_exp input[type="image"], #ncx_info_shop img, #ncx_info_shop input[type="image"]{
	-moz-transition-duration: 0.5s; /* Firefox */
	-webkit-transition-duration: 0.5s; /* Safari and Chrome */
	-o-transition-duration: 0.5s; /* Opera */
    	opacity: 0.7;		
}
#ncx_info_exp img:hover, #ncx_info_exp input[type="image"]:hover, #ncx_info_shop img:hover, #ncx_info_shop input[type="image"]:hover  {
    opacity: 1;		
}
#ncx_info_exp #nacex_logo{
	float:left;
	padding: 10px;
	background: url("../../nacex/logo.gif") no-repeat center center;
	width: 67px;
	height: 15px;
	cursor: pointer;
}
#ncx_info_exp #nacex_big_logo{
	float:left;
	padding: 10px;
	background: url("../../nacex/img/nacex_200.png") no-repeat center center;
	width: 200px;
	height: 49px;
	cursor: pointer;
}
div#ncx_info_exp h2{
	color: white;
	text-shadow: 1px 1px 2px black;
}
/*
.ncx_box form{	
 	background-image: url("../../nacex/img/nacex_diana.png") !important;
    background-repeat: no-repeat !important;
    background-position: center -34px;	
	
}
*/
.zoomable{
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.zoomable:hover {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
	-ms-transform: scale(1.1);
}
.zoomable:focus{
	background-color: transparent;
}
#ncx_info_exp fieldset{
	border:1px solid #545454;
	/*width:385px;*/
	margin-top:10px;
	background-color:#cccccc;
	opacity: 0.9;
	filter: alpha(opacity=90);
	color: black !important;
	font: 12px/1.5em Arial, Helvetica, sans-serif
}
/*
#ncx_info_exp fieldset.diana{
	background-image: url("../../nacex/img/nacex_diana.png");
	background-position: right bottom;
	background-repeat: no-repeat;	
}
*/

#ncx_info_exp.ncx_box fieldset p, #ncx_info_exp fieldset form p {
	color: black !important;
}
#ncx_info_exp fieldset legend{
	text-shadow:none;
	border:1px solid #545454;
	background-color:#fd8921;
	/*margin-left: -10px;*/	
	text-indent: 10px;
	border-radius: 20px;
	font-weight: normal;
}
#ncx_cod_exp{
	float:right;
	color:#aaaaaa;
	margin-right:-5px;
	margin-top:-20px;
	text-shadow:none;
	font-size: xx-small;
}
div#ncx_info_exp fieldset form div, div#ncx_info_shop fieldset form div{
	text-align: center;
}
.ncx_button, #ncx_info_exp input.button, #ncx_info_shop input.button{
	background-color: #FD8921 !important;
	border-radius: 5px !important;
	border: 1px solid #515151 !important;
	color: black !important;
	font-size: 12px !important;
	font-weight: bold !important;
	padding: 0.4em 1.5em !important;
	cursor: pointer !important;
	margin-top: 10px !important;
	background: none;
	text-shadow: none;
	box-shadow: 1px 1px 2px black !important;
	-moz-transition-duration: 0.5s; /* Firefox */
	-webkit-transition-duration: 0.5s; /* Safari and Chrome */
	-o-transition-duration: 0.5s; /* Opera */     
}

.ncx_button:hover, #ncx_info_exp input.button:hover, #ncx_info_shop input.button:hover {
	background-color: black !important;
	border: 1px solid #FF5510 !important;
	box-shadow: 1px 1px 3px #FF5510 !important;
	color: white !important;   
}
#ncx_info_exp select:hover, #ncx_info_shop select:hover{
	cursor:pointer;
}
#ncx_info_exp select:hover, #ncx_info_exp input:hover, #ncx_info_shop select:hover, #ncx_info_shop input:hover {
    	border: 1px solid #FD8921 !important;
    	box-shadow: 1px 1px 3px #FD8921 !important;	
}

.ncx_fieldset_icon{
	float:right;
	margin-right:-10px;
	margin-top:-20px;
}


#ncx_info_shop{
	margin-bottom:10px;
	width:416px;
	padding:0 5px 15px;
	border:1px solid grey;
	background-color: white;
	text-shadow:1px 1px 1px white;	
	background-image: url("../../nacex/img/bgnxshop_circles.jpg");
	background-position: top left;
	background-repeat: repeat-x;
	border-radius: 20px;
	text-align: left;
}

#ncx_info_shop input[type="radio"], #ncx_info_shop input[type="checkbox"] {
    	margin-left: 10px;
}

#ncx_info_shop #nacex_logo{
	float:left;
	padding: 10px;
	background: url("../../nacex/img/nacexshop.png") no-repeat center center;
	width: 75px;
	height: 29px;
	cursor: pointer;
}
#ncx_info_shop fieldset{
	background: url("../../nacex/img/gradient.jpg") repeat-x center bottom white;
	border: 1px solid #cccccc;
	/*width: 385px;*/
	margin-top: 10px;
	opacity: 0.9;
	filter: alpha(opacity=90);
	border-radius: 20px;
}
#ncx_info_shop fieldset legend{
	text-shadow:none;
	border:1px solid #545454;
	background-color:#fd8921;
	/* margin-left: -10px;*/
	text-indent: 10px;	
	border-radius: 20px;
	color: black;
}
#ncx_info_shop fieldset form p{
	color: black;
}
#ncx_info_shop input, #ncx_info_shop textarea {
    	border: 1px solid #E0D0B1;
    	border-radius: 10px 10px 10px 10px;
}
.bg_nacexshop{
	background-image: url("../../nacex/img/nacexshop.png");
	background-position: bottom right;
	background-repeat: no-repeat;
}

/* LISTADO TAB NACEX*/
#ncx_div_listado h1{
	font-size:18px;
}
a[href*="tab=nacextab"] {
    color: #FF5510;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    text-decoration: none !important;
    text-shadow: 1px 1px 1px black;
}
.ncx_listado{	
 	/*
 	background-image: url("../../nacex/img/nacex_diana.png") !important;
    background-repeat: no-repeat !important;
    background-position: left top;
    */	
    padding:20px 0;
}
div#ncx_info_exp form#configForm.form fieldset table{
	width: 100%;
}
table#ncx_tabla_listado{
	margin-bottom: 10px;
	font-size: 10px;
	border: 1px solid grey;
	border-collapse: collapse;
	box-shadow: 1px 2px 3px grey;
	border: 2px solid grey;
	background-color: white !important;
	width: 100%;
}
table#ncx_tabla_listado tr{
	border: 1px solid grey;
}
table#ncx_tabla_listado td{
	border: 1px solid grey;
	padding: 0 2px;
}
table#ncx_tabla_listado th{
	padding: 0 2px;
	font-size: 11px;
	text-align:left;
}
table#ncx_tabla_listado a{
	color:blue;
	text-decoration: underline;	
}
/* FIN LISTADO TAB NACEX */


div.ncx_network_error{
	background-image: url("../../nacex/img/icono_network_error.png");
	background-position: 10px 7px;
	background-repeat: no-repeat;
	background-size: 50px auto;
	text-shadow: 1px 1px 2px white;
}
div.ncx_network_error h1{
	margin-bottom: 6px;
	margin-left: 50px;
	margin-top: 2px;
}
div.ncx_network_error div.metodo{
	box-shadow: 1px 1px 2px grey;
	padding: 0 10px;
	margin: 10px;
	border-radius: 10px;
	color: grey;
}
div.ncx_network_error div.descripcion{
	font-style: italic;
}

ul.estado_expedicion{
	margin-top:5px;
	color:grey;
	background-color:white;
	border-radius:10px;
	padding:10px 3px 10px 0;
	float:right;
	text-align:center;
	display:inline;
	border:1px solid grey;
	width: 99% !important;
	height: auto !important;
	background: url("../../nacex/img/nacex_100.png") no-repeat 10px 5px white;
}
ul.estado_expedicion h3{
	margin-top: -5px;
	padding: 5px;
}
ul.estado_expedicion h3.ncx_error{
	background: url("../../nacex/img/error.gif") no-repeat right top transparent;
}
ul.estado_expedicion h3.ncx_pending{
	background: url("../../nacex/img/pending.gif") no-repeat right top transparent;
}
ul.estado_expedicion h3.ncx_checked{
	background: url("../../nacex/img/checked.gif") no-repeat right top transparent;
}
ul.estado_expedicion h3.ncx_warning{
	background: url("../../nacex/img/warning.gif") no-repeat right top transparent;
}
ul.estado_expedicion h3.ncx_question{
	background: url("../../nacex/img/question.gif") no-repeat right top transparent;
}