{*
 * Classic theme doesn't use this subtemplate, feel free to do whatever you need here.
 * This template is generated at each ajax calls.
 * See ProductListingFrontController::getAjaxProductSearchVariables()
 *}
<div id="js-product-list-bottom"></div>

	
	
	{literal}
	<script>

		/*$('.pagination').hide();
		$(document).ready(function(){
			var srCurrentPage = 1;
			var srEventLook = false;
			var srPageNumbers = $('.page-list li').size();
			
			if($('.page-list li').size() > 0){
				$('#js-product-list-bottom .sr-bottom-category').click(function(){
					srEventLook = true;
					var selectList = srCurrentPage+2;
					var srUrl = $('.page-list li:nth-child('+selectList+') a').attr('href');
					$.get(srUrl,function(data){
						srCurrentPage++;
						var srHtmlData = $(data).find('.product-thumbs').html();

						while(srHtmlData.indexOf('col-sm-4') !== -1){
							srHtmlData = srHtmlData.replace('col-sm-4','product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12');
						}

						$('.product-thumbs').append(srHtmlData);
						srEventLook = false;
						
						if(srCurrentPage+2 == srPageNumbers){
							$('.sr-bottom-category').hide();
						}
						
					});
				});
			} else {
				$('.sr-bottom-category').hide();
			}
			

		});*/
		
	</script>
	{/literal}
