                    body {font-family: Arial, Helvetica, sans-serif;}
                    ._modal_FORM_SUBMIT_MOBILE{
                        display:none;
                    }
                    ._modal_FORM_SUBMIT{
                        display:block;
                    }
					/* The Modal (background) */
					.LaunchNewsletterModal{
						z-index:99999;
					}

					.modal {
						display: none; /* Hidden by default */
						position: fixed; /* Stay in place */
						z-index: 9999; /* Sit on top */
						left: 0;
						top: 0;
						width: 100%; /* Full width */
						height: 100%; /* Full height */
						overflow: auto; /* Enable scroll if needed */
						background-color: rgb(0,0,0); /* Fallback color */
						background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
					}
					
					/* Modal Content */
					.modal-content {
						background-color: #FFF;
						margin: auto;
						padding: 7px;
						border: 1px solid #888;
						width: 40%;
						margin-top:13%;
						border-radius:10px 10px 10px 10px !important;
					}
					.moda-popup{width:40% !important;}
					
					/* The Close Button */
					.close {
						position:absolute;
						color: #FFF;
						float: right;
						font-size: 28px;
						/*font-weight: bold;*/
						right:-4.5%;
						top:-4%;
						transition-duration:0.5s;
						z-index:12;
					}
					
					.close:hover,
					.close:focus {
						color: #f8b16c;
						text-decoration: none;
						cursor: pointer;
						transition-duration:0.5s;
						-webkit-transform:scale(1.25);
						-moz-transform:scale(1.25);
						-ms-transform:scale(1.25);
						-o-transform:scale(1.25);
						transform:scale(1.25);
					}

					._modal_BORDER_RADIUS_TOP{
						border-radius: 5px 5px 0px 0px !important;
					}
					._modal_BORDER_RADIUS_BOTTOM{
						border-radius: 0px 0px 5px 5px !important;
					}
					._modal_CONTENT{
						background: #f8b16c;
						text-align: center;
						padding-top: 20px;
						padding-bottom: 20px;
						color: #FFF;
						font-size: 1.8em;
						letter-spacing: 1.5px;
						line-height: 22px;
						font-weight:normal;
					}
					._modal_HEADER{
						font-size:2.3em !important;
						padding-top:10px !important;
						padding-bottom:10px !important;
					}
					._modal_BACK_TEXT{
						color:#000 !important;
						font-weight:bold;
					}
					._modal_FORM_INPUT{
						width: 55%;
						padding-top: 10px;
						padding-bottom: 10px;
						font-size: 16px;
						padding-left: 10px;
						padding-right: 10px;
						margin-bottom:10px;
					}
					._modal_FORM_SUBMIT{
						width: 59%;
						padding-top: 15px;
						padding-bottom: 15px;
						font-size: 16px;
						padding-left: 10px;
						padding-right: 10px;
						background:#000;
						color:#FFF;
						text-align:center;
						border:0px;
                        cursor:pointer !important;
                        margin-left:21% !important;
					}
					._modal_TEXTO_GDPR{
						font-size:10px;
						color:#FFF;
						transition-duration: 0.5s;
					}
					._modal_CHEKBOX_GDPR{
						border:1px solid #666 !important;
					}
					._modal_LEGAL{
						text-align:center;
                        color:#FFF !important;
                        background:transparent !important;
					}
					._modal_LEGAL a{
						color:#FFF !important;
						font-size:10px;
						text-decoration:underline;
					}
					.LayerRayos{
						position: absolute;
						width: 50%;
						left: 26%;
						top: 0%;
						z-index:9;
					}
					.LayerRayos img{
						width:90%;
					}
					._modal_RESERVED_CONTENT{
						width:100%;
						height:336px;
						/*background: #f8b16c;*/
					}
					.LayerFormTop{
						position: absolute;
						width: 30%;
						height: 22.5%;
						left: 35%;
						top: 39%;
                        z-index:10;
                        background:transparent !important;
					}
					._modal_FORM{
						background: transparent !important;
					}
				@media (max-width:2000px){
					.LayerFormTop{
						position: absolute;
						width: 30%;
						height: 22.5%;
						left: 35%;
						top: 38%;
					}
					.LayerRayos{
						position: absolute;
						width: 50%;
						left: 25%;
						top: 2%;
						z-index:9;
					}
					.LayerRayos img{
						width:96%;
					}
				}
				@media (max-width:1799px){
					.LayerFormTop{
						position: absolute;
						width: 35%;
						height: 22.5%;
						left: 33%;
						top: 35%;
					}
					.LayerRayos{
						position: absolute;
						width: 56%;
						left: 21%;
						top: 0%;
						z-index:9;
					}
					.LayerRayos img{
						width:90%;
					}
				}
				@media (max-width:1700px){
					/* The Modal (background) */
					.LaunchNewsletterModal{
						z-index:99999;
					}

					.modal {
						display: none; /* Hidden by default */
						position: fixed; /* Stay in place */
						z-index: 9999; /* Sit on top */
						left: 0;
						top: 0;
						width: 100%; /* Full width */
						height: 100%; /* Full height */
						overflow: auto; /* Enable scroll if needed */
						background-color: rgb(0,0,0); /* Fallback color */
						background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
					}
					
					/* Modal Content */
					.modal-content {
						background-color: #FFF;
						margin: auto;
						padding: 7px;
						border: 1px solid #888;
						width: 30%;
						margin-top:13%;
						border-radius:10px 10px 10px 10px !important;
					}
					
					/* The Close Button */
					.close {
						position:absolute;
						color: #FFF;
						float: right;
						font-size: 28px;
						/*font-weight: bold;*/
						right:32.5%;
						top:23%;
						transition-duration:0.5s;
					}
					
					.close:hover,
					.close:focus {
						color: #f8b16c;
						text-decoration: none;
						cursor: pointer;
						transition-duration:0.5s;
						-webkit-transform:scale(1.25);
						-moz-transform:scale(1.25);
						-ms-transform:scale(1.25);
						-o-transform:scale(1.25);
						transform:scale(1.25);
					}

					._modal_BORDER_RADIUS_TOP{
						border-radius: 5px 5px 0px 0px !important;
					}
					._modal_BORDER_RADIUS_BOTTOM{
						border-radius: 0px 0px 5px 5px !important;
					}
					._modal_CONTENT{
						background: #f8b16c;
						text-align: center;
						color: #FFF;
						font-size: 1.8em;
						letter-spacing: 1.5px;
						line-height: 22px;
						font-weight:normal;
					}
					._modal_HEADER{
						font-size:2.3em !important;
						padding-top:10px !important;
						padding-bottom:10px !important;
					}
					._modal_BACK_TEXT{
						color:#000 !important;
						font-weight:bold;
					}
					._modal_FORM_INPUT{
						width: 55%;
						padding-top: 10px;
						padding-bottom: 10px;
						font-size: 16px;
						padding-left: 10px;
						padding-right: 10px;
						margin-bottom:10px;
					}
					._modal_FORM_SUBMIT{
						width: 59%;
						padding-top: 15px;
						padding-bottom: 15px;
						font-size: 16px;
						padding-left: 10px;
						padding-right: 10px;
						background:#000;
						color:#FFF;
						text-align:center;
						border:0px;
						cursor:pointer !important;
					}
					._modal_TEXTO_GDPR{
						font-size:10px;
						color:#FFF;
						transition-duration: 0.5s;
					}
					._modal_CHEKBOX_GDPR{
						border:1px solid #666 !important;
					}
					._modal_LEGAL{
						text-align:center;
						color:#FFF !important;
					}
					._modal_LEGAL a{
						color:#FFF !important;
						font-size:10px;
						text-decoration:underline;
					}
					.LayerFormTop{
						position: absolute;
						width: 30%;
						height: 22.5%;
						left: 35%;
						top: 35%;
					}
					.LayerRayos{
						position: absolute;
						width: 62%;
						left: 21%;
						top: 0%;
						z-index:9;
					}
					.LayerRayos img{
						width:90%;
					}
				}
				@media (max-width:1699px){
					/* The Modal (background) */
					.LaunchNewsletterModal{
						z-index:99999;
					}

					.modal {
						display: none; /* Hidden by default */
						position: fixed; /* Stay in place */
						z-index: 9999; /* Sit on top */
						padding-top: 100px; /* Location of the box */
						left: 0;
						top: 0;
						width: 100%; /* Full width */
						height: 100%; /* Full height */
						overflow: auto; /* Enable scroll if needed */
						background-color: rgb(0,0,0); /* Fallback color */
						background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
					}
					
					/* Modal Content */
					.modal-content {
						background-color: #FFF;
						margin: auto;
						padding: 7px;
						border: 1px solid #888;
						width: 50%;
						margin-top:13%;
						border-radius:10px 10px 10px 10px !important;
					}
					
					/* The Close Button */
					.close {
						position:absolute;
						color: #FFF;
						float: right;
						font-size: 28px;
						/*font-weight: bold;*/
						right:22.5%;
						top:21%;
						transition-duration:0.5s;
					}
					
					.close:hover,
					.close:focus {
						color: #f8b16c;
						text-decoration: none;
						cursor: pointer;
						transition-duration:0.5s;
						-webkit-transform:scale(1.25);
						-moz-transform:scale(1.25);
						-ms-transform:scale(1.25);
						-o-transform:scale(1.25);
						transform:scale(1.25);
					}

					._modal_BORDER_RADIUS_TOP{
						border-radius: 5px 5px 0px 0px !important;
					}
					._modal_BORDER_RADIUS_BOTTOM{
						border-radius: 0px 0px 5px 5px !important;
					}
					._modal_CONTENT{
                        background: #f8b16c;
						text-align: center;
						padding-top: 20px;
						padding-bottom: 20px;
						color: #FFF;
						font-size: 1.8em;
						letter-spacing: 1.5px;
						line-height: 22px;
						font-weight:normal;
                    }
                    #_modal_FORM{
                        background:transparent !important;
                    }
					._modal_HEADER{
						font-size:2.3em !important;
						padding-top:10px !important;
						padding-bottom:10px !important;
					}
					._modal_BACK_TEXT{
						color:#000 !important;
						font-weight:bold;
					}
					._modal_FORM_INPUT{
						width: 55%;
						padding-top: 10px;
						padding-bottom: 10px;
						font-size: 16px;
						padding-left: 10px;
						padding-right: 10px;
						margin-bottom:10px;
					}
					._modal_FORM_SUBMIT{
						width: 59%;
						padding-top: 15px;
						padding-bottom: 15px;
						font-size: 16px;
						padding-left: 10px;
						padding-right: 10px;
						background:#000;
						color:#FFF;
						text-align:center;
						border:0px;
						cursor:pointer !important;
					}
					._modal_TEXTO_GDPR{
						font-size:10px;
						color:#FFF;
						transition-duration: 0.5s;
					}
					._modal_CHEKBOX_GDPR{
						border:1px solid #666 !important;
					}
					._modal_LEGAL{
						text-align:center;
						color:#FFF !important;
					}
					._modal_LEGAL a{
						color:#FFF !important;
						font-size:10px;
						text-decoration:underline;
					}
					.LayerFormTop{
						position: absolute;
						width: 50%;
						height: 22.5%;
						left: 26%;
						top: 40%;
					}
					.LayerRayos{
						position: absolute;
						width: 75%;
						left: 16%;
						top: 0%;
						z-index:9;
					}
					.LayerRayos img{
						width:90%;
					}
				}
				@media (max-width:1599px){
					.LayerFormTop{
						position: absolute;
						width: 50%;
						height: 22.5%;
						left: 26%;
						top: 38%;
					}
					.LayerRayos{
						position: absolute;
						width: 75%;
						left: 16%;
						top: 4%;
						z-index:9;
					}
					.LayerRayos img{
						width:90%;
                    }
                    #_modal_FORM{
                        background:transparent !important;
                    }
				}
				@media (max-width:1400px){
					.close {
						position:absolute;
						color: #FFF;
						float: right;
						font-size: 28px;
						/*font-weight: bold;*/
						right:5.5%;
						top:-6%;
						transition-duration:0.5s;
					}
					.LayerFormTop{
						position: absolute;
						width: 48%;
						height: 22.5%;
						left: 26%;
						top: 39%;
					}
					.LayerRayos{
						position: absolute;
						width: 75%;
						left: 16%;
						top: 6%;
						z-index:9;
					}
					.LayerRayos img{
						width:90%;
                    }
                    #_modal_FORM{
                        background:transparent !important;
                    }
				}
				@media (max-width:1200px){
					.close {
						position:absolute;
						color: #FFF;
						float: right;
						font-size: 28px;
						/*font-weight: bold;*/
						right:22.5%;
						top:16%;
						transition-duration:0.5s;
					}

					.LayerFormTop{
						position: absolute;
						width: 50%;
						height: 22.5%;
						left: 25%;
						top: 32%;
					}
					.LayerRayos{
						position: absolute;
						width: 90%;
						left: 9%;
						top: 3%;
						z-index:9;
					}
					.LayerRayos img{
						width:90%;
					}
					.LayerRayos{
						position: absolute;
						width: 100%;
						left: 0%;
						top: 0%;
						z-index:9;
					}
					.LayerRayos img{
						width:100%;
					}
				}
				@media (max-width:1000px){
					.modal-content {
						background-color: #FFF;
						margin: auto;
						padding: 7px;
						border: 1px solid #888;
						width: 98%;
						margin-top:14%;
						border-radius:10px 10px 10px 10px !important;
					}
					.close {
						position:absolute;
						color: #FFF;
						float: right;
						font-size: 28px;
						/*font-weight: bold;*/
						right:5%;
						top:14%;
						transition-duration:0.5s;
					}
					.LayerFormTop{
						position: absolute;
						width: 70%;
						height: 22.5%;
						left: 15%;
						top: 32%;
					}
                }
                
                @media (max-width:1000px){
					.modal-content {
						background-color: #FFF;
						margin: auto;
						padding: 7px;
						border: 1px solid #888;
						width: 98%;
						margin-top:14%;
						border-radius:10px 10px 10px 10px !important;
					}
					.close {
						position:absolute;
						color: #FFF;
						float: right;
						font-size: 28px;
						/*font-weight: bold;*/
						right:5%;
						top:14%;
						transition-duration:0.5s;
					}
					.LayerFormTop{
						position: absolute;
						width: 70%;
						height: 22.5%;
						left: 15%;
						top: 32%;
					}
                }
                
                @media (max-width:800px){
					.modal-content {
                        position:fixed;
                        bottom:0px;
						/*background-color: #f8b16c;*/
						margin: auto;
						padding: 7px;
						border: 1px solid #888;
                        width: 100%;
                        height:50%;
                        max-height: 300px !important;
						border-radius:0px 0px 0px 0px !important;
					}
					.moda-popup{width:100% !important;}

					.close {
						position:absolute;
						color: #FFF;
						float: right;
						font-size: 54px;
						/*font-weight: bold;*/
						right:2%;
						top:-15%;
                        transition-duration:0.5s;
                        z-index:9999999;
                        display:block;
                    }
                    .close:hover{
                        color:#CCC;
                    }
					.LayerFormTop{
						position: fixed;
						width: 80%;
						height: 22.5%;
						left: 6%;
						top: 54%;
                    }
                    ._modal_CONTENT{
                        background:transparent !important;
                        color:#FFF !important;
                        z-index:9999;
                        line-height: 7px !important;
                    }
                    ._modal_RESERVED_CONTENT{
                        /*background:#f8b16c;*/
                    }
                    ._modal_BACK_TEXT{
                        color:#f8b16c !important;
                    }
                    ._modal_FORM_SUBMIT_MOBILE{
                        position: absolute;
                        right: -14%;
                        bottom: -34%;                    
                        display: block;
                        width: 79px;
                        height: 79px;
                        text-align: center;
                        background: #000 !important;
                        padding: 30px;
                        border-radius: 50px;
                        font-size: 1.7em;
                        padding-top: 35px;
                        cursor:pointer;
                    }
                    ._modal_FORM_SUBMIT{
                        display:none;
                    }

                    ._modal_FORM_INPUT{
						width: 100% !important;
						padding-top: 5px;
						padding-bottom: 5px;
						font-size: 12px;
						padding-left: 10px;
						padding-right: 10px;
						margin-bottom:10px;
                    }
                    .LayerRayos{
						position: absolute;
						width: 100%;
						left: 0%;
						top: 42%;
						z-index:9;
                    }
                    ._modal_HEADER{
						font-size:1.1em !important;
						padding-top:10px !important;
						padding-bottom:10px !important;
                    }
                    
                    ._modal_CONTENT{
						background: #f8b16c;
						text-align: center;
						padding-top: 0px;
						padding-bottom: 20px;
						color: #FFF;
						font-size: 1.8em;
						letter-spacing: 1.5px;
						line-height: 22px;
						font-weight:normal;
					}
				}

				@media (max-height:770px){
					#_modal_FORM{margin-top:30% !important;}
					._modal_CONTENT{line-height: 4px !important; right: -6.5%; top: -6%;}
				}
				
				.popup-background-mobile{
					/*background-image: url(https://mamalolashoes.com/img/sr-img/banner2/MOVIL_FONDNO.jpg);
					-webkit-background-size: cover;
					background-size: cover;*/
					background:#fff617;
				}

				._modal_TEXTO_GDPR{
					color:#000 !important;
				}
				
				.popup-background-mobile ._modal_HEADER{color:black !important;}