{*
* NOTICE OF LICENSE
*
* @author    Ve Interactive <info@veinteractive.com>
* @copyright 2016 Ve Interactive
* @license   MIT License
*
*
* Permission is hereby granted, free of charge, to any person obtaining a copy
* of this software and associated documentation files (the "Software"), to deal
* in the Software without restriction, including without limitation the rights
* to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
* copies of the Software, and to permit persons to whom the Software is
* furnished to do so, subject to the following conditions:

* The above copyright notice and this permission notice shall be included in all
* copies or substantial portions of the Software.

* THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
* IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
* FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
* AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
* LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
* OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
* SOFTWARE.
*}
{if isset($masterData)}
	<script id="veplatform-masterdata" type="text/javascript">
		var veData = JSON.parse({$masterData|json_encode nofilter});
	</script>
{/if}

{if isset($url_tag)}
	<script type="text/javascript">
   		(function() {
	 	    var ve = document.createElement('script');
	    	ve.type = 'text/javascript';
	    	ve.async = true;
	  	  	ve.src = '{$url_tag|escape:'htmlall':'UTF-8'}';
	    	var s = document.getElementsByTagName('body')[0];
	    	s.appendChild(ve, s);
		}
    	)();
	</script>
{/if}

